.board {
  /* 
  TODO: Add some kind of credits page
  <a href='https://www.freepik.com/vectors/background'>Background vector created by pikisuperstar - www.freepik.com</a>
  */

  background-image: url('assets/stars-background.png');
  background-size: contain;
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  // columns: 10;
}
