.vertiacalCenter {
  margin: auto;
}

.setup {
  display: grid;
  height: 100%;

  grid-template-columns: repeat(2, 1fr);
  /* TIL: Every row MUST have the same numer of items */
  grid-template-areas:
    'setupHeader setupHeader'
    'sizeLabel size'
    'planetsLabel planets'
    'playersLabel players'
    'draftPlayerLabel draftPlayerForm'
    'start start';

  grid-template-rows:
    min-content
    min-content
    min-content
    min-content
    min-content
    auto;

  gap: var(--gap);
}

.setup h1 {
  grid-area: setupHeader;
}

.setup label {
  text-align: right;
}

label[for='sectorSize'] {
  grid-area: sizeLabel;
}
:global(#sectorSize) {
  grid-area: size;
}

label[for='numPlanets'] {
  grid-area: planetsLabel;
}
:global(#numPlanets) {
  grid-area: planets;
}

label[for='players'] {
  grid-area: playersLabel;
}
:global(#players) {
  grid-area: players;
}

ul.playerList {
  text-align: left;
  background-color: white;
  color: black;
  grid-area: players;

  list-style: none;
}

label[htmlFor='draftPlayer'] {
  grid-area: draftPlayrLabel;
}
.draftPlayerForm {
  grid-area: draftPlayerForm;
  display: grid;
  grid-template-columns: auto min-content;
}

.playerList .editIcon {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.5em;
}

.playerList .player {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 0.5em;
}

.start {
  grid-area: start;
}
