.app {
  height: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

.boardContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-right: var(--gap);
}

.board {
  width: 100%;
}
