.app {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);

  grid-template-areas:
    'setupTab sectorTab'
    'content content';
  grid-template-rows:
    min-content
    auto;

  margin: 0 auto;
}

.setupTab {
  grid-area: setupTab;
}
.sectorTab {
  grid-area: sectorTab;
}
.content {
  grid-area: content;
}

.boardContainer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-right: var(--gap);
}

.board {
  width: 100%;
}
